<%- include('includes/head.ejs') %>

    <h1 id="logo" class="center"> Métricas</h1>
    <br>

    <!-- Gráfica "Tiempo promedio por categoría" -->
    <h5>Tiempo de solución por categoría (promedio) </h5>
    <canvas id="TiempoxCat" width="100%" height="50%"></canvas>
    <br><br><br>

    <h5>Tickets creados vs Tickets resueltos</h5>
    <canvas id="CreadosxResueltos" width="100%" height="50%"></canvas>
    <br><br><br>




    <!-- Librería para graficar -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
        const ctx = document.getElementById('TiempoxCat');
        const myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: [
                    <% for(let c of categorias)  { %>
                    '<%= c %>',
                    <% } %>
                ],
                datasets: [{
                    label: 'Días',
                    data: [<%= tiempos %>],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>

    <script>
        new Chart(document.getElementById("CreadosxResueltos"), {
            type: 'line',
            data: {
                labels: ['Esta Semana', 'La Semana Pasada', '2 semanas atrás', '3 semanas atrás', '4 semanas atrás', '5 semanas atrás', '6 semanas atrás', '7 semanas atrás', '8 semanas atrás', '9 semanas atrás', '10 semanas atrás'],
                datasets: [{
                    data: ([<%= ticketsemitidos %>]),
                    label: 'Tickets emitidos',
                    borderColor: "#3e95cd",
                    fill: false
                }, {
                    label: 'Tickets concluidos',
                    data: [<%= ticketsresueltos %>],
                    borderColor: "#8e5ea2",
                    fill: false
                }]
            },
            options: {
                title: {
                    display: true,
                    text: 'Tickets creados en contraste con los resueltos en las últimas semanas'
                }
            }
        });
    </script>


    <%- include('includes/footer.ejs') %>